@import 'styles/shared.scss';

.categoryBox {
  position: relative;
  width: 160px;
  height: 157px;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(45deg, #dfc148f7 20%, #ffee6a 74%);
}

.categoryLargeBox {
  @extend .categoryBox;
  width: 330px;
}

.categoryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullName {
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 18px;
  color: $mainLight-color;
  font-weight: 500;
}

.soonBox {
  position: absolute;
  top: 13px;
  right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eb5757;
  border-radius: 10px;
  width: 50px;
  height: 15px;
}

.soonText {
  color: $mainLight-color;
  font-size: 11px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}
