.fieldName {
  display: inline-block;
  width: 260px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px;

  &::placeholder {
    padding-left: 10px;
    font-size: 14px;
  }
}

.fieldFeedback {
  display: inline-block;
  width: 260px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px;

  &::placeholder {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
  }
}
