.fieldName {
  display: inline-block;
  width: 260px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.fieldFeedback {
  display: inline-block;
  width: 260px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}
