.downIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url('../../../images/down.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 10px;
}
