//==========//COLORS//==========//
$primary-color: #111111;
$secondary-color: #a4acad;
$mainAccent-color: #ff9846;
$activeAccent-color: #f46d40;
$mainLight-color: #fff;
$mainDark-color: #000;
$auxiliary-light-color: #f2f2f2;
