.feedbackIcon {
  background-image: url('../../../images/feedback.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  margin-bottom: 3px;
  margin-right: auto;
  margin-left: auto;
}
