.menuIcon {
  background-image: url('../../../images/menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 30px;
  margin-bottom: 3px;
  margin-right: auto;
  margin-left: auto;
}
