.sortIcon {
  position: absolute;
  top: 14px;
  left: 9px;
  background-image: url('../../../images/sort.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
